<body class="c-app flex-row align-items-center">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="clearfix">
                <h1 class="float-left display-3 mr-4">500</h1>
                <h4 class="pt-3">Có lỗi xảy ra</h4>
                <% if (err){ %>
                <p class="text-muted"><%= message %></p>
                <% } %>
            </div>
        </div>
    </div>
</div>
<!--<script src="vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>-->
<!--<script src="vendors/@coreui/icons/js/svgxuse.min.js"></script>-->
</body>

